* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #212121;
}

body {
  background-color: #fff;
  max-width: 1512px;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

img {
  flex-shrink: 0;
}

button,
a {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  border: none;
}

.container {
  padding-left: 158px;
  padding-right: 158px;
}

.header {
  padding-right: 50px;
  padding-left: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.icon-mainSvg {
  width: 94px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f64060;
}

.icon-language {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 592px;
}

.inputContainer {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid #d9d9d9;
  border-radius: 8px 0 0 8px;
  max-width: 300px;
}

.inputContainer > input {
  border: none;
  padding-top: 12px;
  padding-bottom: 13px;
}

.icon-search {
  fill: #707070;
  width: 22px;
  height: 22px;
}

.searchInput {
  border: 1px solid #d9d9d9;
  max-width: 254px;
  padding-top: 12px;
  padding-bottom: 13px;
  border-left: none;
  padding-left: 10px;
  padding-right: 11px;
}

.icon-searchWhite {
  background-color: #f65858;
  border-radius: 0 8px 8px 0;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
}

.languageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.lastHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}

.btnSign {
  color: #fff;
  border-radius: 8px;
  background-color: #00798a;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  padding: 8px 16px;
}
.btnSign:hover {
  background-color: #007a8abb;
}
.searchMobile {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 79px;
    padding-right: 79px;
  }

  body {
    max-width: 1024px;
  }
  .header {
    padding-right: 8px;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .searchContainer {
    display: none;
  }

  .searchMobile {
    margin-top: 15px;
  }

  .inputContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 0;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    max-width: 342px;
    max-height: 42px;
  }

  .headerFlex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }

  .inp {
    border: none;
    padding-bottom: 12px;
    padding-top: 13px;
  }
}

@media (max-width: 767px) {
  html {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
  }
  .container {
    padding-left: 21px;
    padding-right: 21px;
  }
  .lastHeaderContainer {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    gap: 18px;
  }
  .btnSign {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    border-radius: 7px;
    padding: 6px 13px;
  }
  body {
    min-width: 393px;
  }
}
/* //////////////////////////////////// */

.heroSection {
  padding-top: 71px;
  padding-bottom: 98px;
  display: flex;
  justify-content: start;
  gap: 54px;
  width: 100%;
}
.heroAbout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
  max-width: 600px;
  width: 100%;
}
.heroTitle {
  font-weight: 700;
  font-size: 42px;
  line-height: 124%;
}

.icon-irl_eventsvg {
  width: 379px;
  height: 269px;
}

.heroBtn {
  color: #fff;
  background-color: #00798a;
  border-radius: 8px;
  padding: 8px 16px;
}

@media (max-width: 1024px) {
  .heroSection {
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  .heroAbout {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .heroTitle {
    font-size: 25px;
    line-height: 122%;
  }
  .heroAbout {
    min-width: 352px;
    gap: 20px;
  }
  .icon-irl_eventsvg {
    width: 215px;
    height: 152px;
  }
}
/* /////////////////////// */
.eventSection {
  width: 100%;
  padding-top: 28px;
}
.eventsToolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.eventsToolbarLeft {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
  margin-bottom: 24px;
}
.eventsToolbarTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
  white-space: nowrap;
}
.eventsToolbarLocation {
  border-radius: 8px;
  max-width: 239px;
  width: 100%;
  background-color: rgba(151, 202, 209, 0.12);
  padding: 12px 12px 10px 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.eventsToolbarText {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #00798a;
}
.icon-link {
  width: 22px;
  height: 22px;
}
.eventsToolbarAll {
  color: #00798a;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .eventSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .eventsToolbarTitle {
    font-size: 20px;
    line-height: 123%;
  }
  .eventsToolbarLocation {
    border-radius: 5px;
  }
  .eventsToolbarText {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .eventSection {
    padding-top: 0;
  }
  .eventsToolbarAll {
    display: none;
  }
  .eventsToolbarLeft {
    margin-bottom: 20px;
  }
}
.eventsList,
.listOnline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
  align-items: center;
}
.eventsImg {
  width: 272px;
  height: 153px;
  border-radius: 8px;
  object-fit: cover;
}
.eventsItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 272px;
  height: 399px;
}
.eventsInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: start;
}
.eventsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}
.eventsCategory {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #707070;
  display: flex;
  gap: 5px;
}
.date {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #7c6f50;
}
.category {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #707070;
}
.type {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #707070;
}
.attendees {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #707070;
}
.distance {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #707070;
}
.icon-date,
.icon-online {
  width: 20px;
  height: 20px;
}

.eventsdateIcon,
.eventsTypeIcon {
  display: flex;
  gap: 6px;
  align-items: center;
}

@media (max-width: 767px) {
  .eventsItem {
    flex-direction: row;
    max-width: 370px;
    justify-content: start;
    align-items: start;
    height: 84px;
    position: relative;
  }

  .eventsInfo {
    gap: 4px;
  }
  .eventsItem::before {
    content: "";
    width: 370px;
    height: 1px;
    position: absolute;
    top: -9px;
    left: 0;
    background-color: #d9d9d9;
  }
  .eventsList,
  .listOnline {
    flex-direction: column;
    gap: 29px;
    justify-content: start;
    align-items: start;
  }
  .eventsImg {
    width: 95px;
    height: 54px;
  }
  .date {
    font-weight: 500;
    font-size: 8px;
  }
  .eventsTitle {
    font-weight: 500;
    font-size: 9px;
    line-height: 150%;
  }
  .category {
    font-weight: 400;
    font-size: 8px;
  }
  .type {
    font-weight: 500;
    font-size: 7px;
    line-height: 133%;
    color: #707070;
  }
  .attendees {
    font-weight: 500;
    font-size: 7px;
    line-height: 133%;
  }
  .icon-online {
    width: 10px;
    height: 10px;
  }
  .icon-date {
    display: none;
  }
  .distance {
    font-weight: 400;
    font-size: 8px;
    line-height: 143%;
  }
  .eventsImg {
    border-radius: 5px;
  }
}
/* ///////////////////////////// */
.eventsToolbarSecond {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
.onlineSection {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .onlineSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* /////////////////////////// */
.joinSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.joinMeetup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 56px;
  background-color: rgba(151, 202, 209, 0.08);
  border-radius: 8px;
}
.meetupContent {
  max-width: 664px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  align-items: start;
}
.meetupImage img {
  width: 341px;
  height: 196px;
}
.meetupTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
}
.meeetupText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.meetuoBtn {
  border-radius: 8px;
  background-color: #e32359;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #fff;
  padding: 8px 66px;
}
.hidden {
  display: none;
}
@media (max-width: 1024px) {
  .meetupContent {
    justify-content: center;
    align-items: start;
  }
  .joinSection {
    margin: 0 auto;
  }
  .meetuoBtn {
    margin: 0 auto;
  }
  .joinMeetup {
    flex-direction: column;
    justify-content: center;
    padding: 16px 21px;
    align-items: center;
  }
  .meetupImage {
    margin: 0 auto;
  }
  .hiddenImage {
    display: none;
  }
  .hidden {
    display: inline-block;
  }
}

@media (max-width: 767px) {
  .meetupImage img {
    width: 238px;
    height: 136px;
    margin-bottom: 6px;
  }
  .meetupTitle {
    font-size: 20px;
    line-height: 180%;
  }
  .meeetupText {
    font-size: 12px;
    line-height: 200%;
    color: #000;
  }
  .meetupContent {
    gap: 6px;
  }
  .meetuoBtn {
    margin-top: 16px;
  }
}
/* //////////////////////////// */
.categoriesTitle {
  margin-top: 64px;
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
}
.categoriesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
  margin-bottom: 64px;
}
.categoriesItem {
  background-color: rgba(151, 202, 209, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  width: 135px;
  height: 112px;
}
.default-palette {
  width: 20px;
  height: 20px;
}
.categoriesTitleItem {
  text-align: center;
  max-width: 97px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}
@media (max-width: 767px) {
  .categoriesTitle {
    font-size: 20px;
    line-height: 180%;
    margin-top: 0;
  }
  .categoriesList {
    row-gap: 11px;
    column-gap: 23px;
  }
  .categoriesList {
    margin-bottom: 48px;
  }
}
/* ////////////////////// */
.cities {
  width: 100%;
}
.citiesSectionTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
  margin-bottom: 16px;
}
.citiesText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #707070;
  margin-bottom: 28px;
}
.citiesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  row-gap: 18px;
}
.imgSities {
  width: 205px;
  height: 205px;
  object-fit: cover;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .hiddenSities {
    display: none;
  }
}
@media (max-width: 767px) {
  .citiesSectionTitle {
    font-size: 20px;
    line-height: 180%;
    margin-bottom: 16px;
  }
  .citiesText {
    font-size: 12px;
    line-height: 200%;
    margin-bottom: 8px;
  }
  .imgSities {
    width: 153px;
    height: 153px;
  }
  .citiesList {
    gap: 18px;
    justify-content: center;
  }
}
/* //////////////////// */
.howWorks {
  width: 100%;
}
.howWorksTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
  margin-bottom: 24px;
}
.howWorksList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-bottom: 64px;
}
.howWorksItem {
  background-color: rgba(151, 202, 209, 0.08);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 32px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 24px;
  border-radius: 8px;
  width: 100%;
}
.icon-plussvg {
  width: 41px;
  height: 41px;
}
.howInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.howTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}
.howText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 370px;
}
.howLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #00798a;
}
@media (max-width: 767px) {
  .howWorksList {
    flex-direction: column;
    margin-bottom: 17px;
    gap: 12px;
  }
  .howWorksTitle {
    font-size: 20px;
    line-height: 180%;
    margin-bottom: 18px;
  }
  .howTitle {
    font-size: 12px;
    line-height: 124%;
  }
  .howText {
    font-size: 9px;
  }
  .howLink {
    font-size: 10px;
  }
  .howInfo {
    gap: 10px;
  }
  .icon-plussvg {
    width: 25px;
    height: 25px;
  }
  .howWorksItem {
    gap: 15px;
    border-radius: 5px;
  }
}
/* //////////////////////// */
.friendshipsSection {
  width: 100%;
}
.friendshipsTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
  margin-bottom: 16px;
}
.friendshipsText {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #707070;
  margin-bottom: 28px;
  max-width: 873px;
}
.friendshipList {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: start;
  margin-bottom: 64px;
  flex-wrap: wrap;
}
.friendshipItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 376px;
}
.friendshipImg {
  width: 376px;
  height: 191px;
  border-radius: 8px;
  margin-bottom: 12px;
}
.friendshipTitleItem {
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  max-width: 310px;
}
.friendshipTextItem {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #707070;
}
.friendshipLink {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #00798a;
}
@media (max-width: 767px) {
  .friendshipsText {
    display: none;
  }
  .friendshipsTitle {
    margin-bottom: 27px;
  }
  .friendshipImg {
    border-radius: 8px;
    width: 351px;
    height: auto;
  }
  .friendshipTitleItem {
    font-size: 16px;
    line-height: 168%;
    max-width: 280px;
  }
  .friendshipTextItem {
    font-size: 12px;
    line-height: 192%;
    max-width: 280px;
  }
  .friendshipLink {
    font-size: 12px;
    line-height: 192%;
  }
  .friendshipList {
    margin-bottom: 125px;
  }
}
/* ////////////////////// */
.footer {
  padding: 24px 196px 40px;
  background-color: #212121;
  color: #f6f7f8;
  width: 100%;
}
.footerTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.footerBtn {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 10px 14px;
  background-color: #212121;
}
.footerStartContainer {
  display: flex;
  align-items: center;
  gap: 26px;
  position: relative;
  padding-bottom: 25px;
}
.footerStartContainer::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #707070;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footerListsContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-top: 24px;
}

.footerList {
  max-width: 373px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footerListTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f6f7f8;
}
.footerLinkItem {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c5c4c4;
}
.linkTitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #f6f7f8;
  margin-top: 24px;
  margin-bottom: 12px;
}
.iconLink {
  width: 30px;
  height: 30px;
}
.footerImg {
  width: 140px;
  height: 40px;
}
.mainIconContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerIconContainer {
  display: flex;
  gap: 32px;
  align-items: center;
}
.footerimg {
  display: flex;
  gap: 12px;
  align-items: center;
}
.privacyList {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: start;
  margin-top: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #c5c4c4;
}
.privacyTitle {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
}
@media (max-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 79px;
    padding-right: 79px;
  }
  .footerimg {
    display: none;
  }
  .privacyText {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 20px;
    padding-bottom: 36px;
  }
  .footerStartContainer {
    gap: 12px;
  }
  .footerStartContainer::after {
    max-width: 247px;
  }
  .footerListsContainer {
    margin-top: 34px;
  }
  .linkTitle {
    margin-top: 21px;
  }
  .privacyList {
    margin-top: 44px;
  }
}
/* ////////////////////// */
.nearSection {
  padding-top: 66px;
  padding-bottom: 101px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.nearTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
  color: #000;
  margin-bottom: 16px;
}

.nearText {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #00798a;
  border-bottom: 4px solid #00798a;
  width: 63px;
}

.bgImageMap {
  background-image: url(/assets/images/map-thumbnail.png.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 350px;
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 12px;
}
.btnMap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 11px 24px;
  background-color: #fff;
  border: 2px solid #00798a;
  border-radius: 8px;
}
.exit {
  position: absolute;
  top: 11px;
  right: 15px;
}
.mapsText {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
}
.mapsTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 14px;
}
.nearList {
  margin-top: 56px;
  max-width: 604px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.eventsItem1 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: start;
  position: relative;
  max-width: 604px;
}
.eventsItem1::before {
  content: "";
  background-color: #d9d9d9;
  height: 1px;
  width: 604px;
  position: absolute;
  top: 0;
  left: 0;
}
.eventsImg1 {
  width: 159px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 16px;
}
.eventsInfo1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 48px;
  margin-top: 16px;
}
.eventsInfo2 {
  max-height: 130px;
}
@media (max-width: 1276px) {
  .mapsContainer {
    display: none;
  }
}
@media (max-width: 767px) {
  .nearSection {
    padding-top: 22px;
    padding-left: 12px;
    padding-bottom: 67px;
    padding-right: 10px;
  }
  .eventsImg1 {
    border-radius: 5px;
    width: 97px;
    height: 54px;
    margin-top: 10px;
  }
  .eventsItem1 {
    gap: 8px;
    max-width: 370px;
  }
  .eventsInfo1 {
    gap: 30px;
    margin-top: 10px;
  }
  .eventsItem1::before {
    max-width: 370px;
  }
  .nearTitle {
    font-size: 25px;
    line-height: 144%;
    margin-bottom: 16px;
  }
}
/* /////////////// */
.filters {
  display: flex;
  gap: 18px;
  flex-wrap: nowrap;
  z-index: 1000;
  position: relative;
  margin-top: 12px;
  overflow: visible;
}
.filters::-webkit-scrollbar {
  display: none;
}
.filter {
  position: relative;
  display: inline-block;
}

.filter-btn {
  padding: 16px;
  border-radius: 40px;
  background-color: #f6f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  white-space: nowrap;
}

.filter-btn .iconDown {
  transition: transform 0.3s ease;
}

.filter.open .filter-btn .iconDown {
  transform: rotate(180deg);
}

.filter-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: #f6f7f8;
  border: 1px solid #ccc;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  width: max-content;
  z-index: 2000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter.open .filter-list {
  display: block;
}

.filter-list li {
  padding: 5px 10px;
  cursor: pointer;
  white-space: nowrap;
  pointer-events: auto;
}

.filter-list li:hover {
  background: #f0f0f0;
}
@media (max-width: 767px) {
  .filters {
    max-width: 370px;
    overflow-x: auto;
  }
  .filter-list {
  }
}
