* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #212121;
}

body {
  background-color: #fff;
  max-width: 1512px;
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

button,
a {
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
  border: none;
}

.container {
  padding-left: 158px;
  padding-right: 158px;
}

.header {
  padding-right: 50px;
  padding-left: 24px;
  padding-top: 11px;
  padding-bottom: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.icon-mainSvg {
  width: 94px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #f64060;
}

.icon-language {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 592px;
}

.inputContainer {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: 1px solid #d9d9d9;
  border-radius: 8px 0 0 8px;
  max-width: 300px;
}

.inputContainer > input {
  border: none;
  padding-top: 12px;
  padding-bottom: 13px;
}

.icon-search {
  fill: #707070;
  width: 22px;
  height: 22px;
}

.searchInput {
  border: 1px solid #d9d9d9;
  max-width: 254px;
  padding-top: 12px;
  padding-bottom: 13px;
  border-left: none;
  padding-left: 10px;
  padding-right: 11px;
}

.icon-searchWhite {
  background-color: #f65858;
  border-radius: 0 8px 8px 0;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
}

.languageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.lastHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
}

.btnSign {
  color: #fff;
  border-radius: 8px;
  background-color: #00798a;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  padding: 8px 16px;
}
.btnSign:hover {
  background-color: #007a8abb;
}
.searchMobile {
  display: none;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 79px;
    padding-right: 79px;
  }

  body {
    max-width: 1024px;
  }
  .header {
    padding-right: 8px;
    padding-left: 24px;
    padding-top: 4px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .searchContainer {
    display: none;
  }

  .searchMobile {
    margin-top: 15px;
  }

  .inputContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 0;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    max-width: 342px;
    max-height: 42px;
  }

  .headerFlex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
  }

  .inp {
    border: none;
    padding-bottom: 12px;
    padding-top: 13px;
  }
}

@media (max-width: 767px) {
  html {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
  }
  .container {
    padding-left: 21px;
    padding-right: 21px;
  }
  .lastHeaderContainer {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    gap: 18px;
  }
  .btnSign {
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    border-radius: 7px;
    padding: 6px 13px;
  }
  body {
    min-width: 393px;
  }
}
/* //////////////////////////////////// */

.heroSection {
  padding-top: 71px;
  padding-bottom: 98px;
  display: flex;
  justify-content: start;
  gap: 54px;
  width: 100%;
}
.heroAbout {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 24px;
  max-width: 600px;
  width: 100%;
}
.heroTitle {
  font-weight: 700;
  font-size: 42px;
  line-height: 124%;
}

.icon-irl_eventsvg {
  width: 379px;
  height: 269px;
}

.heroBtn {
  color: #fff;
  background-color: #00798a;
  border-radius: 8px;
  padding: 8px 16px;
}

@media (max-width: 1024px) {
  .heroSection {
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
  }
  .heroAbout {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .heroTitle {
    font-size: 25px;
    line-height: 122%;
  }
  .heroAbout {
    min-width: 352px;
    gap: 20px;
  }
  .icon-irl_eventsvg {
    width: 215px;
    height: 152px;
  }
}
/* /////////////////////// */
.eventSection {
  width: 100%;
  padding-top: 28px;
}
.eventsToolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.eventsToolbarLeft {
  display: flex;
  gap: 20px;
  justify-content: start;
  align-items: center;
}
.eventsToolbarTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
  white-space: nowrap;
}
.eventsToolbarLocation {
  border-radius: 8px;
  max-width: 239px;
  width: 100%;
  background-color: rgba(151, 202, 209, 0.12);
  padding: 12px 12px 10px 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
}
.eventsToolbarText {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #00798a;
}
.icon-link {
  width: 22px;
  height: 22px;
}
.eventsToolbarAll {
  color: #00798a;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .eventSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .eventsToolbarTitle {
    font-size: 20px;
    line-height: 123%;
  }
  .eventsToolbarLocation {
    border-radius: 5px;
  }
  .eventsToolbarText {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .eventSection {
    padding-top: 0;
  }
  .eventsToolbarAll {
    display: none;
  }
}

.eventsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 36px;
  justify-content: center;
  align-items: center;
}
.eventsImg {
  width: 272px;
  height: 153px;
  border-radius: 8px;
}
.eventsItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 272px;
}
.eventsInfo {
}
.date {
}
.eventsTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}
.eventsCategory {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  color: #707070;
  display: flex;
  gap: 5px;
}
.category {
}
.distance {
}
.type {
}
.attendees {
}
